/*
    ==============================================
                ****** RESET *****
    ==============================================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/*
    ==============================================
                ****** Global *****
    ==============================================
*/

header {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

footer { width: 100%; 
position: fixed; 
bottom: 1rem; 
border: 1px solid #000; 
} 

.text-footer { 
padding: 2rem 1rem; 
} 
